@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron row">
    <div class="col-md-6">
        <h1>TIY Sports</h1>
        <p>&hearts; For the students of the Iron Yard<p>
    </div>
    <div class="col-md-3 col-md-push-3">
        <img src="/Images/sports.jpg " alt="Sports Picture" class="img-circle img-responsive">
    </div>
    </div>
        
       

<div class="row">
    <div class="col-md-3">
        <div class="thumbnail">
            <img src="/Images/football.jpg" alt="Football Picture">
            </div>
        <div class="football"><h3>Football</h3></div>
        
        </div>
    <div class="col-md-3">
        <div class="thumbnail"><img src="/Images/baseball.jpg" alt="Baseball Picture"></div>
        <div class="baseball"><h3>Baseball</h3></div>
        
    </div>
    <div class="col-md-3">
        <div class="thumbnail"><img src="/Images/basketball.jpg" alt="Basketball Picture"></div>
        <div class="basketball"><h3>Basketball</h3></div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail"><img src="/Images/quidditch.jpg" alt="Sports Picture"></div>
        <div class="Quidditch"><h3>Quidditch</h3></div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="thumbnail">
            <img src="/Images/football.jpg" alt="Football Picture">
        </div>
        <div class="football"><h3>Football</h3></div>

</div>
</div>

